html {
    height: 100%;
}

body {
    background: -webkit-linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
    background:    -moz-linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
    background:      -o-linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
    background:     -ms-linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
    background:         linear-gradient(top, #DDDDDD 0%, #CCCCCC 100%);
    background-repeat: repeat-x;
    background-color: #CCCCCC;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

#robots {
    width: 10px;
    height: 10px;
    visibility: hidden;
}

#message {
    max-width: 500px;
    margin: auto;
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
}

#message > .heading {
    font-size: 50px;
}

#wrap {
    -webkit-perspective: 800;
    -moz-perspective: 800px;
    perspective: 800;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: fixed;
}

#tabletop {
    vertical-align: middle;
    border-radius: 5px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style:    preserve-3d;
    -ms-transform-style:     preserve-3d;
    transform-style:         preserve-3d;

    -webkit-transform-origin: 50% 150%;
    -moz-transform-origin:    50% 150%;
    -o-transform-origin:      50% 150%;
    -ms-transform-origin:     50% 150%;
    transform-origin:         50% 150%;

    background: #F2F2F2;

    background: -webkit-linear-gradient(top, #EEEEEE 0%, #F8F8F8 70%, #E5E5E5 100%);
    background: -moz-linear-gradient(top, #EEEEEE 0%, #F8F8F8 70%, #E5E5E5 100%);
    background: -o-linear-gradient(top, #EEEEEE 0%, #F8F8F8 70%, #E5E5E5 100%);
    background: -ms-linear-gradient(top, #EEEEEE 0%, #F8F8F8 70%, #E5E5E5 100%);
    background: linear-gradient(top, #EEEEEE 0%, #F8F8F8 70%, #E5E5E5 100%);

    height: 500px;
    position: absolute;
    padding: 0 100px;
}

#tableedge {
    position: absolute;
    width: auto;
    height: 30px;
    top: 100%;
    left: 3px;
    right: 3px;
    background: #555555; /** Better drawing performance than gradient, and not much visual difference */

    -webkit-transform: rotateX(-80deg);
    -moz-transform:    rotateX(-80deg);
    -o-transform:      rotateX(-80deg);
    -ms-transform:     rotateX(-80deg);
    transform:         rotateX(-80deg);

    -webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -o-transform-origin:      0 0;
    -ms-transform-origin:     0 0;
    transform-origin:         0 0;
}

.nameplate {
    width: 100%;
    height: 80px;
    margin: auto;
    border-radius: 2px;
}

#nameplate {
    position: absolute;
    text-align: center;
    color: #444444;
    font-family: Candara, sans-serif;
    font-size: 60px;
    text-shadow: 0 2px 1px rgba(255,255,255,1);
    box-shadow: 0 -2px 1px rgba(0,0,0,0.6);
    cursor: default;
    z-index: 9999;

    background: -o-linear-gradient(left, #EEE 0%, #DDD 30%, #F6F6F6 50%, #DDD 70%, #EEE 100%);
    background: -ms-linear-gradient(left, #EEE 0%, #DDD 30%, #F6F6F6 50%, #DDD 70%, #EEE 100%);
    background: -webkit-linear-gradient(left, #EEE 0%, #DDD 30%, #F6F6F6 50%, #DDD 70%, #EEE 100%);
    background: -moz-linear-gradient(left, #EEE 0%, #DDD 30%, #F6F6F6 50%, #DDD 70%, #EEE 100%);

    -o-transform:      rotateX(-30deg) translateZ(1px);
    -ms-transform:     rotateX(-30deg) translateZ(1px);
    -webkit-transform: rotateX(-30deg) translateZ(1px);
    -moz-transform:    rotateX(-30deg) translateZ(1px);
    transform:         rotateX(-30deg) translateZ(1px);

    -o-transform-origin:      0 100%;
    -ms-transform-origin:     0 100%;
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin:    0 100%;
    transform-origin:         0 100%;

    -o-user-select:      none;
    -ms-user-select:     none;
    -webkit-user-select: none;
    -moz-user-select:    none;
    user-select:         none;
}

#nameplate-shadow {
    background-color: rgb(180, 180, 180); /* fallback */
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.6);

    -o-transform:       translateZ(1px);
    -ms-transform:      translateZ(1px);
    -webkit-transform:  translateZ(1px);
    -moz-transform:     translateZ(1px);
    transform:          translateZ(1px);
}

#nameplate-group {
    position: relative;
    top: 20px;

    margin: auto;
    width: 500px;
    height: 80px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/*#nameplate-group > * {
    -webkit-transition: -webkit-filter 0.5s;
    -moz-transition: -moz-filter 0.5s;
}*/

/*#tabletop.blurred > #nameplate-group > * {*/
    /* Blur is too low in quality. Disable for now */
    /*-webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);*/
/*}*/

#title-links > a {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: #003C7D;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#title-links > a:hover {
    top: -1px;
    text-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

#title-links > span {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 20px;
    color: #222244;
    font-weight: 400;
    cursor: default;
}

#title-links {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 102%;

    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    transform: translateZ(1px);
}
