.typelabel {
    font-size: 12px;
    width: 60px;
    height: 60px;
    margin: 10px 5px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #444444;
    border-radius: 5px;
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: default;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-size: 60px 60px;
}

.typelabel:link {
    cursor: pointer;
}

.typelabel > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    font-family: "Arial Narrow", HelveticaNeueLight;
}

.typelabel.active[href]:hover {
    background-color: #AAA;
}

.typelabel[href]:hover {
    background-color: #666;
    color: black;
}

.typelabel.chromeextension { background-image: url('/images/chromeextension.png'); }
.typelabel.safariextension { background-image: url('/images/safariextension.png'); }
.typelabel.androidapp { background-image: url('/images/androidapp.png'); }
.typelabel.concept { background-image: url('/images/concept.png'); }
.typelabel.research { background-image: url('/images/research.png'); }
.typelabel.startup { background-image: url('/images/startup.png'); }
.typelabel.webapp { background-image: url('/images/webapp.png'); }
.typelabel.link { background-image: url('/images/link.png'); }
.typelabel.github { background-image: url('/images/github.png'); }
