.typelabel {
    font-size: 14px;
    width: 75px;
    height: 75px;
    margin: 5px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #444444;
    border-radius: 5px;
    display: inline-block;
}

.typelabel > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 75px;
    height: 75px;
    text-transform: uppercase;
    font-family: "Arial Narrow";
}

.typelabel:hover {
    background-color: #CCC;
    color: black;
}

.typelabel.chromeextension {
    background-image: url('label/chromeextension.png');
    background-size: 75px 75px;
}

.typelabel.safariextension {
    background-image: url('label/safariextension.png');
    background-size: 75px 75px;
}

.typelabel.androidapp {
    background-image: url('label/androidapp.png');
    background-size: 75px 75px;
}

.typelabel.concept {
    background-image: url('label/concept.png');
    background-size: 75px 75px;
}

.typelabel.research {
    background-image: url('label/research.png');
    background-size: 75px 75px;
}

.typelabel.startup {
    background-image: url('label/startup.png');
    background-size: 75px 75px;
}

.typelabel.webapp {
    background-image: url('label/webapp.png');
    background-size: 75px 75px;
}
